*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{

}
.container{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}

.background{
    background-image: url(https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 500px 0;
    border-radius: 0px 0px 150px 150px;
    object-fit: cover;
}

.logo img{
    position: absolute;
    left: 6rem;
    top: 2rem;
}
.menu ul li a{
color: #fff;
padding: 10px 25px;
border-radius: 20px;
transition: 0.6s;
}
.menu ul{
    position: absolute;
    right: 6rem;
    top: 3rem;
    gap: 3rem;
}

.transp a:hover{
    background-color: #FFFFFF1A;
}

.but a:hover{
    background-color: #ee626b;
}

.content{
    display: flex;
    gap: 10rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont{
    width: 700px;
    height: 500px;
}
.cont h6{
    font-size: 20px;
    font-weight: 600;
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    color: #fff;
}
.cont h2{
    font-size: 48px;
    color: #fff;
    margin-bottom: 40px;
} 
.cont p{
    color: #fff;    
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 70px;
}
input{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: #7a7a7a;
    padding: 25px;
    font-size: 15px;
}
form{
    position: relative;
}
.inpbut form button{
    background-color: #ee626b;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    position: absolute;
    left: 250px;
    bottom: 0;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}
.inpbut form button:hover{
    background-color:#0d6efd ;
}
.image img{
    border-radius: 30px;
}
.image{
    position: relative;
}
.sale{
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ee626b;
    font-size: 28px;
    font-weight: 800;
    padding: 30px 15px;
    position: absolute;
    bottom: 0;
    left: -15px;
    text-align: center;
    line-height: 40px;
   
  
}
.price{
  position: absolute;
  top: 2rem;
 right: 2rem;
 padding: 8px 18px;
 background-color: #008af8;
 font-size: 22px;
 text-transform: uppercase;
 font-weight: 800;  
 color: #fff;
 border-radius: 25px;
}
.imgg img{

    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 40px;
    object-fit: cover;
    overflow: hidden;
    background-color: #0071f8;
    border-radius: 50%;
    transition: 0.5s;
}
.buttoms{
    display: flex;
    position: relative;
    
    
}
.box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -5rem;
    width: 300px;
    height: 200px;
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}
.box h4{
    font-size: 17px;
    font-weight: 800;
    padding-top: 1.5rem;
}
.imgg img:hover{
    background-color: #ee626b;
}
.card{
    width: 550px;
    height: 500px;
    background-color: #f7f7f7;
    border-radius: 25px;
   padding: 80px;
   margin: 15rem -10rem 0 5rem;
   z-index: 1;

}
.cards{
    display: flex;
    position: relative;
}
.card h6{
    font-size: 17px;
    font-weight: 700;
    color: #ee626b;
    padding-bottom: 2rem;
}
.card h2{
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 3rem;
}
.card span{
    color: #0d6efd;
    font-size: 36px;
    font-weight: 700;
}
.card p{
    color: #4a4a4a;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3rem;
}
.card a{
    background-color: #ee626b;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 17px;
  padding: 15px 35px;
  transition: 0.6s;
}
.card a:hover{
    background-color: #0d6efd;
}
.imgcard img{
    border-radius: 25px;
    margin-top: 10rem;
}
.card2 h6{
    font-size: 17px;
    font-weight: 700;
    color: #ee626b;
    padding-bottom: 2rem;
}
.card2 h2{
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 3rem;
}
.card2 span{
    color: #0d6efd;
    font-size: 36px;
    font-weight: 700;
}
.card2 p{
    color: #4a4a4a;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3rem;
}
.card2 a{
    background-color: #ee626b;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 17px;
  padding: 15px 35px;
}
.card2{
    width: 550px;
    height: 500px;
    background-color: #f7f7f7;
    border-radius: 25px;
   padding: 80px;
   margin: 15rem 5rem 0 -10rem;
   z-index: 1;
}
button{
margin-top: -3rem;
}
footer{
    background-image: url(https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/footer-bg.jpg);
    margin-top: 150px;
    background-color: #0071f8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-radius: 150px 150px 0px 0px;
}
.end p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.end a{
    color: #fff;
    padding-left: 10px;
    transition: 0.3s;
}
.end a:hover{
    color: rgb(219, 215, 215);
}
.end{
    padding-top: 2rem;
}